.profile {
  padding: 6rem 10rem;

  &__title {
    margin-bottom: 4rem;
    font-size: 3.6rem;
    font-weight: 600;
    line-height: 120%;
    color: #000;
  }

  &__cards {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__menu {
    margin-bottom: 3.2rem;

    &-button {
      box-sizing: border-box;
      border: none;
      padding: 1.6rem 0;
      font-size: 2rem;
      font-style: normal;
      font-weight: 400;
      line-height: 130%;
      background-color: #fff;
  
      &:first-child {
        margin-right: 1.6rem;
      }
  
      &_active {
        font-weight: 700;
        color: #242424;
        border-bottom: 2px solid #ffb22e;
      }
    }
  }

  
}
