@import '../../assets/styles/colors.scss';

.calculator {
  background-color: $background-color-secondary;

  &__container {
    width: 144rem;
    margin: 12rem auto;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 6rem;

    padding: 7.2rem 10rem;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 3.2rem;
  }

  &__cleaning-type-container {
    display: flex;
    flex-direction: column;
    max-width: 81.6rem;
    gap: 3.2rem;
  }

  &__form-wrapper {
    width: 39.2rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }
}
