@import '../../assets/styles/colors.scss';

.calculator__container {
  width: 144rem;
  margin: 12rem auto;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 6rem;
  background-color: $background-color-secondary;
  padding: 7.2rem 10rem;
}

.calculator__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 3.2rem;
}

.cleaning-type__container {
  display: flex;
  flex-direction: column;
  max-width: 81.6rem;
  gap: 3.2rem;
}

.calculator-form__wrapper {
  width: 39.2rem;
}

.calculator-form__wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
