.form-cancel {	
	&__title {
		font-weight: 700;
		text-align: left;
		font-size: 28px;
		line-height: 3.64rem;
	}
	&__legend {
		font-weight: 400;
		text-align: left;
		font-size: 1.6rem;
		line-height: 2.24rem;
	}
}