@import '../../assets/styles/colors.scss';

.statistics {
  background-color: #f2f2f2;
  width: 100%;
  height: fit-content;
  border-radius: 0.8rem;
  padding: 4rem;

  &__inputs-wrapper {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin-bottom: 3.2rem;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(6, 15.2rem);
    gap: 2rem;
  }

  &__orders-amount {
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: $background-color-main;
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: center;
  }

  &__cancellation-rate {
    grid-column-start: 3;
    grid-column-end: 7;
    background-color: $background-color-main;
    border-radius: 12px;

    padding: 3.5rem 3.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__main-services {
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: $background-color-main;
    border-radius: 12px;
  }

  &__extra-services {
    grid-column-start: 4;
    grid-column-end: 7;
    background-color: $background-color-main;
    border-radius: 12px;
  }

  &__cancellation-reasons {
    grid-column-start: 1;
    grid-column-end: 7;
    background-color: $background-color-main;
    border-radius: 12px;
  }

  &__cancellation-data {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0;
    gap: 1.2rem;
  }

  &__cancellation-bar-wrapper {
    display: flex;
    gap: 8px;
    align-items: center;
  }

  &__cancellation-bar {
    background-color: $border-color;
    width: 42.6rem;
    height: 7rem;
    border-radius: 12px;

    display: flex;
    justify-content: flex-end;
  }

  &__cancellation-bar-right {
    background-color: #5cd0ca;
    height: 70px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
  }

  &__main-services {
    padding: 3.2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__extra-services {
    padding: 3.2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__cancellation-reasons {
    padding: 3.2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
