@import '../../assets/styles/colors.scss';

.input-filters {
  padding: 0 0 2rem 0;

  &__input {
    width: 12.4rem;
    padding: 0.8rem 1.6rem;
    border-radius: 1.2rem;
    border: 1px solid $border-color;

    &::placeholder {
      color: $border-color;
    }
  }
}
