@import '../../assets/styles/colors.scss';

.comments {
  background: $color-secondary;

  &__container {
    position: relative;
    margin: 0 auto 12rem;
    width: 144rem;
    padding: 7.2rem 10rem;
    box-sizing: border-box;
  }

  &__wrapper {
    display: flex;
    margin-bottom: 6.35rem;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    font-size: 3.6rem;
    font-weight: 600;
    line-height: 4.3rem;
    letter-spacing: -0.02rem;
    color: $text-color-main;
    margin: 0;
  }
  &__go {
    color: $text-color-tertiary;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.6rem;
    letter-spacing: 0em;
  }

  &__go_position {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 3.2rem;
  }

  &__list {
    padding: 0 0 7.2rem;
    margin: 0;
    display: grid;
  }
  &__about {
    display: grid;
    padding: 0 0 7.2rem;
    margin: 0;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 3.2rem;
  }
  &__show {
    font-weight: 700;
    font-size: 16px;
    color: $text-color-tertiary;
    background: none;
    border: none;
    margin: 0 auto;
    display: block;
  }
}
