@import '../../assets/styles/colors.scss';

.add {
	border-radius: .8rem;
	background-color: $background-color-secondary;
	padding: 3.2rem 4rem;

	&__container {
		padding: 2rem 0 0 0;
	}

	&__back {
		color: $text-color-tertiary;
		font-weight: 700;
		cursor: pointer;
	}

	&__arrow {
		padding: 1.2rem .8rem 0 0;
	}

	&__container {
		display: flex;
		flex-direction: row;
		gap: 4rem;
	}

	&__title {
		width: 17.6rem;
		&_size {
			padding: 0 0 1.2rem 0;
		}
	}

	&_parameters {
		width: 36.3rem;
	}

	&__button {
		text-align: right;
	}	
}