@import '../../assets/styles/GlobalStyle.scss';

.input__wrapper {
  display: flex;
  flex-direction: column;
  position: relative;

  &__password {
    margin-top: 1.6rem;
  }
  &__password::before {
    content: '';
    position: absolute;
    display: inline;
    z-index: 2;
    background-image: url('../../assets/images/visible-pass.svg');
    bottom: 1.8rem;
    right: 1.6rem;
    width: 1.6rem;
    height: 1.4rem;
    cursor: pointer;
  }
}

.form-input {
  width: 39.2rem;
  height: 4.6rem;
  border: 1px solid $border-color;
  border-radius: 12px;
  background-color: $background-color-main;
  padding: 1.2rem 0 1.2rem 1.6rem;
  font-size: 1.6rem;

  &::placeholder {
    @extend .text-m;
    color: $placeholder-color;
  }
  &:hover,
  :focus,
  :active {
    border: 1px solid $border-color;
    border-color: $border-color-active;
  }
  &:disabled {
    border: 1px solid $border-color;
    background-color: $border-color;
  }
  &__error {
    border-color: $border-color-error;
  }
}

.form-input-small {
  width: 19rem;
}
