.profile-form {
  display: flex;
  gap: 4rem;
  max-width: 39.2rem;

  &__section {
    display: flex;
    flex-direction: column;
  }

  &__subheading {
    margin-bottom: 16px;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 120%;
    color: #000;
  }

  &__inputs-block {
    display: flex;
    flex-direction: column;

    &_contacts {
      gap: 2rem;
    }

    &_address {
      gap: 1.2rem;
    }
  }

  &__small-iputs-wrapper {
    display: flex;
    gap: 1.2rem;
  }

  &__button-wrapper {
    max-width: 28.6rem;
  }
}
