.profile-form {
  display: flex;
  gap: 40px;

  &__section {
    display: flex;
    flex-direction: column;
  }

  &__subheading {
    margin-bottom: 16px;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 120%;
    color: #000;
  }

  &__inputs-block {
    display: flex;
    flex-direction: column;

    &_contacts {
      gap: 20px;
    }

    &_address {
      gap: 12px;
    }
  }

  &__small-iputs-wrapper {
    display: flex;
    gap: 1.2rem;
  }
}
