@import '../../assets/styles/colors.scss';

.process-card {
  width: 286px;
  background-color: $color-secondary;
  padding: 3.2rem 2.4rem 3.8rem;
  border-radius: 20px;
}

.process-card__title {
  font-size: 2rem;
  font-weight: 700;
  color: $text-color-tertiary;
  margin-bottom: 1.6rem;
}

.process-card__text {
  font-size: 1.6rem;
  color: $text-color-tertiary;
}
