.about {
  padding: 6rem 0 12rem 0;

  &__container-statistics {
    display: grid;
    grid-template-columns: 1fr repeat(3, minmax(8rem, 18rem));
    gap: 3.2rem;
  }
  &__purpose {
    background-color: #e5f0ff;
    border-radius: 2rem;
    display: flex;
    gap: 1.6rem;
    padding: 3.2rem 2.8rem;
  }
  &__span {
    margin: 1.2rem 0 0 0;
  }
  &__text {
    margin: 1.2rem 0 0 0;
  }
  &__card-statistics {
    border: 4px solid #e5f0ff;
    border-radius: 2rem;
    padding: 3.2rem 1rem 0;
    width: 18rem;
    box-sizing: border-box;
  }
  &__card-title {
    color: #81ace5;
    font-size: 4.8rem;
    font-weight: 600;
    line-height: 5.76rem;
    text-align: center;
  }
  &__card-subtitle {
    font-weight: 400;
    text-align: center;
    color: #717171;
    padding: 0.8rem 0 0 0;
  }
}
