.checkbox {
	&:not(:last-child){
		padding: 0 0 .8rem 0;
	}

	&__input {
		display: flex;
		align-self: start;
		margin: .3rem 0 0 0;
		cursor: pointer;		
	}

	&__label {
		display: flex;
		gap: .8rem;
	}
}