.new-package {
	border: none;
	outline: none;
	cursor: pointer;
	
	&__container {
		border-radius: 1.2rem;
		background-color: #fff;
		overflow: hidden;
	}
	
&__title {
	width: 13rem;
	border: none;
	background-color: inherit;
}

	&__input {
		width: 33rem;	
		background-color: #fff;
		padding: 0 0 0 .8rem;
		border-radius: .8rem;
	}
}