@import '../../assets/styles/GlobalStyle.scss';

.page-404 {
  position: relative;
  margin: 0 auto;
  width: 144rem;
  height: calc(100vh - 13rem);
  background: url('./src/assets/images/bg-404.png') 0 0/100% 100% no-repeat;

  &__content {
    width: 22.8rem;
    padding-top: 26vh;
    margin-left: 17vw;
  }
  &__title {
    font-size: 12.8rem;
    font-weight: 600;
    line-height: 12.8rem;
    display: inline-block;
  }
  &__subtitle {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2.24rem;
    padding-left: 3px;
    padding-bottom: 3.2rem;
  }
  &__link {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $text-color-main;
    padding: 1.2rem 0;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2.24rem;
    text-decoration: none;
    background-color: $background-color-main;
    border-radius: 2rem;
    border: 0.1rem solid $border-color;
  }
}
