@import '../../../assets/styles/GlobalStyle.scss';

.form-transfer {
  &__title {
    font-weight: 400;
    text-align: left;
  }
  &__input-container {
    padding: 2.6rem 0 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
    max-width: 39.2rem;
  }
  &__date {
    border: none;
    &:hover,
    :focus,
    :active {
      border: 1px solid $border-color;
      border-color: $border-color-active;
      box-shadow: 0px 0px 0px 2px rgba(129, 172, 229, 0.3);
    }
    &:disabled {
      border: 1px solid $border-color;
      background-color: $border-color;
    }
  }
}

.overlay-arrow {
  font-size: 9px;
  color: red;
  position: absolute;
  right: 5px;
  bottom: 14px;
  line-height: 1px;
  background-color: $background-color-main;
  pointer-events: none;
}
