$container-width: 144rem;
$banner-width: 136rem;

.banner {
  position: relative;
  width: $container-width;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 6rem auto 12rem;

  img {
    width: 136rem;
    border-radius: 20px;
  }
}

.banner-text {
  position: absolute;
  z-index: 2;
  left: calc(($container-width - $banner-width) / 2 + 6rem);
  color: #163b6c;
  display: flex;
  flex-direction: column;

  h1 {
    font-size: 4.8rem;
    letter-spacing: -0.02em;
    font-weight: 400;
  }

  h3 {
    font-size: 2.8rem;
    letter-spacing: -0.02em;
    font-weight: 400;
    margin-bottom: 1.6rem;
  }
}
