@import '../../assets/styles/colors.scss';

.service-card__container {
  width: 22rem;
  height: 6rem;
  border: none;
  border-radius: 20px;
  background-color: $background-color-main;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  &:has(img) {
    height: 12rem;
  }

  p {
    margin: 0.8rem 1.6rem 0;
  }
}

.service-card__img {
  display: flex;
  justify-content: flex-end;
  width: 22rem;
  height: 6rem;

  img {
    width: 11rem;
    height: 6rem;
    border-radius: 0 0 20px 0;
  }
}
