.admin {
  max-width: 144rem;
  margin: 0 auto 2rem auto;
  padding: 3.2rem 3rem 0 3rem;
  display: grid;
  grid-template-columns: 20rem 1fr;
  min-height: calc(100vh - 43.6rem - 8.5rem);
  gap: 4rem;
}
