@import '../../assets/styles/colors.scss';

.calculator-form__total {
  height: fit-content;
  border: 1px solid $border-color;
  border-radius: 20px;
  background-color: $background-color-main;
  padding: 1.2rem 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.total__wrapper {
  display: flex;
  flex-direction: column;
}

.pay__title {
  font-size: 2.8rem;
  line-height: 3.64rem;
  letter-spacing: -0.02em;
  color: $text-color-secondary;
}
