@import '../../assets/styles/colors.scss';

.upload {
  display: flex;
  width: 20.7rem;
  font-weight: 700;
  padding: 1.2rem 3rem;
  border-radius: 1.2rem;
  background-color: $background-color-main;
  border: 1px solid $border-color;
}
