@import '../../assets/styles/colors.scss';

.comments {
  &__cell {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: $background-color-main;
    padding: 3.2rem 2.4rem 2.4rem;
    box-sizing: border-box;
    border-radius: 2rem;
    min-height: 33.2rem;
    max-width: 28.6rem;
  }

  &__upblock {
    display: flex;
    flex-direction: column;
  }

  &__wrapper-rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__name-client {
    margin: 0;
    color: $text-color-tertiary;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
  }

  &__rating {
    font-size: 16px;
    font-weight: 400;
    line-height: 2.2rem;
    letter-spacing: 0em;
    color: $text-color-grey;
    margin: 0;
  }

  &__rating:after {
    content: '';
    display: inline-block;
    background: url(../../assets/images/star.png) center no-repeat;
    width: 1.6rem;
    height: 1.6rem;
    margin-left: 0.4rem;
  }

  &__response {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.2rem;
    letter-spacing: 0em;
    color: $text-color-grey;
    margin: 2.4rem 0 0;
    height: 20rem;
    overflow-y: auto;
    overflow-x: hidden;
    text-overflow: ellipsis;
  }

  ::-webkit-scrollbar {
    width: 3px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: $text-color-grey;
    border-radius: 20px;
    border: 3px solid $text-color-grey;
  }

  &__name-charwoman {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 2rem;
    letter-spacing: 0em;
    margin: 0;
    color: $text-color-grey;
  }
}
