@import '../../../assets/styles/GlobalStyle.scss';

.form-auth {
  &__title {
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.6rem;
  }

  &__error {
    visibility: hidden;
    min-height: 14px;
    color: $border-color-error;

    &_active {
      visibility: visible;
    }
  }

  &__input {
    margin: 2.4rem 0 0.5rem;
    padding: 1.2rem 1.6rem;
    width: 21.6rem;
    border-radius: 12px;
    border: 1px solid #d9d9d9;
    font-size: 1.6rem;
    line-height: 140%;

    &_error {
      border-color: $border-color-error;
    }
  }
}
