.form-auth {
  &__title {
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.6rem;
  }

  &__input {
    margin: 2.4rem 0;
    padding: 1.2rem 1.6rem;
    width: 21.6rem;
    border-radius: 12px;
    border: 1px solid #d9d9d9;
    font-size: 1.6rem;
    line-height: 140%;
  }
}
