.swiper-slide {
  margin-bottom: 0;
}

.slider-wrapper {
  width: 100%;
}

.swiper-button-next {
  display: none;
}

.swiper-button-prev {
  display: none;
}
@import '../../assets/styles/colors.scss';

.button-nav-swiper {
  display: flex;
  justify-content: space-between;
  margin: 3.2rem auto 0;
  width: 11.2rem;
  height: 4rem;
}

.button-prev {
  position: static;
  width: 4rem;
  height: 4rem;
  align-self: center;
  background: url('./src/assets/images/arrow-left-about.svg') no-repeat;
  border: none;
}

.button-next {
  position: static;
  width: 4rem;
  height: 4rem;
  display: flex;
  align-self: center;
  background: url('./src/assets/images/arrow-right-about.svg') no-repeat;
  text-align: center;
  border: none;
}

.slide {
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  width: 28.6rem;
  border: 1px solid $background-color-secondary;
  padding: 2.8rem 0 3.2rem;
  width: 37.6rem;

  &__title {
    padding: 0 2.4rem;
    display: flex;
    justify-content: space-between;
  }
  &__title-name {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2.24rem;
  }
  &__rating {
    display: flex;
  }
  &__mark {
    padding: 0 0.45rem 0 0;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.24rem;
  }
  &__img {
    max-width: 100%;
    object-fit: cover;
    margin: 1.6rem 0 0 0;
  }
  &__quantity {
    margin: 2.4rem 2.4rem;
  }
  &__order {
    color: $text-color-tertiary;
    text-decoration: none;
    padding: 1.2rem 0;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2.24rem;
  }
}
