@import '../../assets/styles/GlobalStyle.scss';

.materials {
  justify-content: space-between;
  width: 144rem;
  padding: 0 10rem;
  max-width: 1440px;
  margin: 12rem auto 0;

  &__title {
    text-align: left;
  }

  &__cards {
    display: flex;
    margin-top: 6rem;
    gap: 3.2rem;
  }

  &__card {
    border-radius: 2rem;
    border: 2px solid $border-color-blue;
    padding: 3.2rem 0;
    max-width: 49.8rem;
  }

  &__card-section {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
  }

  &__card-title {
    @extend .text-l-bold;
    padding: 0 2.4rem;
  }

  &__card-text {
    @extend .text-s;
    padding: 0 2.4rem;
  }

  &__card-img {
    width: 100%;
    margin: 1.6rem 0;
  }

  .full-img {
    margin-bottom: 2.4rem;
  }

  .full {
    max-width: 71rem;
  }

  .full-text {
    @extend .text-m;
  }
}
