@import '../../assets/styles/colors.scss';
.cleaners-change {
  &__link {
    color: $text-color-tertiary;
    text-decoration: none;
    padding-left: 2.4rem;
  }
  &__link-wrapper {
    background: url(../../images/arrow-left.svg) no-repeat 2px 3px;
    margin-top: 12px;
  }

  &__form {
    padding-top: 3.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    width: 264px;
  }

  &__image {
    height: 16.9rem;
    width: 20rem;
    margin-right: 3.2rem;
  }

  &__textarea {
      height: 6.8rem;
      padding: 1.2rem 1.6rem;
      border-radius: 12px;
      margin-bottom: 8px;
      border: 1px solid #d9d9d9;
    }

  &__name {
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.8rem;
    margin-bottom: 1.6rem;
  }
  &__form {
    width: 49.6rem;
  }
  &__btn {
    width: 13.2rem;
    height: 4.6rem;
    background-color: #ffb22e;
    border-radius: 1.2rem;
    border: none;
    margin-top: 2rem;
  }
  &__add-label {
    width: 20rem;
    height: 16.9rem;
    background: #fff;
    border-radius: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #9b9b9b;
    border: 1px dotted;
  }
  &__add-image {
    opacity: 0;
    visibility: hidden;
    position: absolute;
  }
}
