.rooms-quantity {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &:has(input) {
    flex-direction: row;
    gap: 4.4rem;
  }
}

.amount__container {
  display: flex;
  width: 34.9rem;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.amount__title {
  font-size: 2rem;
  line-height: 2.6rem;
}

.checkbox__wrapper {
  display: flex;
  gap: 1.2rem;
  align-items: center;
}
