@import '../../assets/styles/colors.scss';

.button {
  background-color: $color-primary;
  border-radius: 1.2rem;
  color: $text-color-main;
  box-shadow: 0px 0.2rem 0px 0px $btn-shadow;
  border: none;
  padding: 1.2rem 0;
  font-size: 1.6rem;
  cursor: pointer;
  font-weight: 700;
  line-height: 2.24rem;
  width: 100%;
  &__modal-indent {
    margin: 3.6rem 0 0 0;
  }

  &_type_auth {
    background-color: $background-color-secondary;
    box-shadow: none;
    color: $text-color-tertiary;
    line-height: 2.24rem;
  }

  &_type_auth-submit {
    margin-bottom: 1.2rem;
  }

  &_size_s {
    width: 28rem;
  }

  &_disabled {
    cursor: default;
    background-color: $button-color-grey;
    color: $text-color-secondary;
    line-height: 2.24rem;
    box-shadow: 0px 0.2rem 0px 0px rgba(0, 0, 0, 0.0106);
  }
}
