.process {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  padding: 0 10rem;
  margin-top: 12rem;

  h2 {
    font-size: 3.6rem;
    font-weight: 600;
    letter-spacing: -0.02em;
  }
}

.process-cards {
  display: flex;
  gap: 3.2rem;
}
