.grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 12rem) 16rem 14rem 10rem 14.6rem 1fr;
  grid-template-rows: max-content 1fr;

  &__item {
    padding: 0 1.6rem 0 1.6rem;
    &:nth-child(6) {
      margin: 0 0 0 3.1rem;
    }
  }
  &__additional {
    grid-column-start: 2;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: -1;
    margin: 0 1.6rem 0 0;
  }
}
