.comments{
  &__button {
    position: absolute;
    width: 4rem;
    height: 4rem;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
    bottom: 0;
    z-index: 2;
  }

  &__button:first-child {
    margin-right: 3.2rem;
  }

  &__button_left {
    background: #fff url(../../images/arrow-left.png) center no-repeat;
    right: calc(50% - 1.6rem);
  }

  &__button_rigth {
    background: #fff url(../../images/arrow-rigth.png) center no-repeat;
    left: calc(50% + 1.6rem);
  }
}