@import '../../assets/styles/colors.scss';

.office {
	background-color: $background-color-secondary;
	width: 100%;
	border-radius: .8rem;
	padding: 3.2rem 4rem 3.2rem;
	
	&__field-search {
		display: flex;
	}

	&__data-search {		
		position: relative;
		display: flex;
		width: 100%;
		flex-direction: column;
	}

	&__search {
		display: flex;
		justify-content: space-between;
		gap: 1.6rem;
	}

	&__search-flex {
		display: flex;
		gap: 4rem;
	}	

	&__create-package {
		display: flex;
		justify-content: end;
		padding: 3.2rem 0 0 0;
	}
}