@import '../../assets/styles/colors.scss';

.office {
  background-color: $background-color-secondary;
  width: 100%;
  border-radius: 0.8rem;
  padding: 3.2rem 4rem 1.2rem;

  &__field-search {
    margin: 4rem 0 0 0;
  }

  &__data-search {
    display: flex;
    flex-direction: column;
  }

  &__search {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1.6rem;
  }

  &__search-flex {
    display: flex;
    gap: 4rem;
  }
}
