.cleaning-type__wrapper {
  display: flex;
  flex-direction: column;
  max-width: 75.2rem;
  gap: 2rem;
}

.cleaning-type__tabs {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  flex-wrap: wrap;
}
