@import "../../assets/styles/colors.scss";

.extra-service {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.extra-service__container {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.extra-service-fields__wrapper {
  width: 75.2rem;
  border-radius: 20px;
  background-color: $background-color-main;
  padding: 0 1.6rem;
}
