@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/GlobalStyle.scss';

.diagram-cancellations {
  display: flex;
  gap: 4.4rem;
  align-items: center;
  margin-bottom: 0.8rem;

  &__container {
    width: 47.2rem;
    height: 19.2rem;
    border-radius: 20px;
    display: flex;
    background-color: #fff;
    color: #fff;
    font-size: 2rem;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__one {
    @extend .flex-center;
    background-color: #ffbdb0;
    border-radius: 20px;
  }

  &__two {
    @extend .flex-center;
    grid-row: span 2;
    background-color: #62a3d4;
    border-radius: 20px;
  }

  &__three {
    @extend .flex-center;
    background-color: #7c9c76;
    border-radius: 20px;
  }

  &__four {
    @extend .flex-center;
    background-color: #a66c8b;
    border-radius: 20px;
  }

  &__five {
    @extend .flex-center;
    background-color: #325b5c;
    border-radius: 20px;
  }

  &__six {
    @extend .flex-center;
    background-color: #b64e5b;
    border-radius: 20px;
  }

  &__list {
    list-style: none;

    div {
      width: 2rem;
      height: 2rem;
      border-radius: 4px;
    }

    li:nth-child(1) div {
      background-color: #ffbdb0;
    }

    li:nth-child(2) div {
      background-color: #62a3d4;
    }

    li:nth-child(3) div {
      background-color: #7c9c76;
    }

    li:nth-child(4) div {
      background-color: #a66c8b;
    }

    li:nth-child(5) div {
      background-color: #325b5c;
    }

    li:nth-child(6) div {
      background-color: #b64e5b;
    }
  }

  &__item {
    display: flex;
    gap: 8px;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 1.2rem;
    }
  }

  &__other-reasons {
    @extend .text-m;
    column-count: 2;
    column-gap: 2rem;
  }

  &__reason {
    break-inside: avoid-column;
    margin-bottom: 0.8rem;
    width: 46.2rem;
    height: fit-content;
    border: 1px solid $border-color;
    border-radius: 20px;
    padding: 0.8rem 1.6rem;
  }
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
