@import '../../assets/styles/colors.scss';

.search {
  display: flex;
  position: relative;
  border: 1px solid $border-color;
  border-radius: 0.8rem;

  &__input {
    outline: none;
    border: none;
    padding: 1.2rem 4rem 1.2rem 1.7rem;
    width: 28.1rem;
    border-top-left-radius: 0.8rem;
    border-bottom-left-radius: 0.8rem;
    line-height: 2.24rem;
    font-size: 1.6rem;
    &::placeholder {
      color: $text-color-secondary;
      line-height: 2.24rem;
      font-size: 1.6rem;
      height: 2.2rem;
    }
  }

  &__input-icon {
    position: absolute;
    top: 1.6rem;
    right: 1.3rem;
    width: 1.42rem;
  }

  &__button {
    background-color: $color-primary;
    border: none;
    height: 100%;
    width: 4.2rem;
    border-top-right-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
  }
}
