@import '../../assets/styles/GlobalStyle.scss';
@import '../Button/Button.scss';

.payment {
  padding: 3.2rem 6rem 4.8rem;
  max-width: 58rem;
  margin: 5.9rem auto 10rem;
  border-radius: 2rem;
  background: $background-color-secondary;
  display: flex;
  flex-direction: column;

  &__back {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    margin: 1.2rem 0 2.4rem;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    text-decoration: none;
    color: $text-color-tertiary;
  }

  &__info {
    margin: 2.8rem 0 3.6rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }

  &__info-wrapper {
    display: flex;
    gap: 0.8rem;
  }

  &__text {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }
  &__button {
    @extend .button;
    width: 34rem;
    align-self: center;
  }
}
