.form-cancel__title {
  font-weight: 700;
  text-align: left;
  font-size: 28px;
  line-height: 3.64rem;
}
.form-cancel__legend {
  font-weight: 400;
  text-align: left;
  font-size: 1.6rem;
  line-height: 2.24rem;
}