.form-entry {
  margin: 13.6rem auto;
  width: 144rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-entry__container {
  background: #f2f2f2;
  width: 51.2rem;
  max-width: 100%;
  border-radius: 2rem;
}
.form-entry__content {
  padding: 4rem 6rem 4.8rem;
  display: flex;
  flex-direction: column;
}
.form-entry__wrapper-title {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2.8rem;
}
.form-entry__title {
  display: flex;
  align-self: center;
  font-size: 2rem;
  line-height: 2.6rem;
  padding: 1.6rem 0;
  cursor: pointer;
}
.form-entry__title-recovery {
  display: flex;
  align-self: center;
  font-size: 2rem;
  line-height: 2.6rem;
  cursor: pointer;
  margin-bottom: 2.8rem;
}
.form-entry__title_active {
  border-bottom: 0.2rem solid #ffb22e;
  cursor: default;
}
.form-entry__input-container {
  display: flex;
  flex-direction: column;
  max-width: 39.2rem;
  gap: 1.6rem;
  margin-bottom: 3.6rem;
}
.form-entry__wrapper-input:not(:last-child) {
  margin: 1.2rem 0 0 0;
}
.form-entry__button-container {
  width: 100%;
}
.form-entry__acceptance {
  margin: 1.2rem 0 0 0;
}
.form-entry__acceptance-span {
  text-decoration: underline;
}
.form-entry__password-recovery {
  text-align: center;
  color: #163b6c;
  font-size: 1.6rem;
  cursor: pointer;
  margin: 1.2rem 0 0 0;
}
.form-entry__recovery-text {
  margin: 0.8rem 0 2rem 0;
}

.indent {
  margin: 2rem 0 0 0;
}

.indent {
  margin: 2rem 0 0 0;
}