@import url(https://fonts.googleapis.com/css?family=Nunito:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
html {
  font-size: 62.5%;
}

.page {
  margin: 0 auto;
  max-width: 144.8rem;
}

.form-entry {
  font-family: "Nunito", serif;
  padding: 9rem 0 0 0;
}
.form-entry__container {
  background: #F2F2F2;
  width: 60.4rem;
  max-width: 100%;
  height: 100%;
  border-radius: 2rem;
  margin: 0 auto;
}
.form-entry__content {
  padding: 8rem 10.6rem;
  display: flex;
  flex-direction: column;
}
.form-entry__wrapper-title {
  display: flex;
  justify-content: space-around;
}
.form-entry__title {
  display: flex;
  font-size: 2rem;
  line-height: 2.6rem;
  padding: 1.6rem 0;
  justify-self: center;
  color: #242424;
  margin: 0 auto 6rem auto;
  cursor: pointer;
}
.form-entry__title_active {
  display: inline;
  border-bottom: 0.2rem solid #FFB22E;
  cursor: default;
}
.form-entry__input-container {
  display: flex;
  flex-direction: column;
  max-width: 39.2rem;
  padding: 0 0 2rem 0;
}
.form-entry__wrapper-input {
  position: relative;
}
.form-entry__wrapper-input:not(:last-child) {
  margin: 1.2rem 0 0 0;
}
.form-entry__wrapper-input::before {
  content: "";
  position: absolute;
  z-index: 1;
  background-image: url("../../../src/images/visible-pass.svg");
  bottom: 1.8rem;
  right: 1.6rem;
  width: 1.6rem;
  height: 1.4rem;
}
.form-entry__button-container {
  width: 100%;
}
.form-entry__acceptance {
  color: #A1A1A1;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.96rem;
  margin: 1.2rem 0 0 0;
}
.form-entry__acceptance-span {
  text-decoration: underline;
}
.form-entry__password-recovery {
  text-align: center;
  color: #163B6C;
  font-size: 1.6rem;
  cursor: pointer;
  margin: 1.2rem 0 0 0;
}

.indent {
  margin: 2rem 0 0 0;
}