.input {
  position: relative;
  width: calc(100% - 1.2rem);
  height: 4.6rem;
  border: 1px solid #D9D9D9;
  border-radius: 2rem;
  font-size: 1.6rem;
  line-height: 2.24rem;
  outline: none;
  padding-left: 1.2rem;
}
.input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.25);
}
.input_type_password {
  -webkit-text-security: disc;
  margin: 20px 0 0 0;
}