form {
  display: flex;
  gap: 0.8rem;
  flex-direction: column;
}

.inputs_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 0.8rem;
  -moz-column-gap: 1.2rem;
       column-gap: 1.2rem;
}

.time-selection {
  width: 19rem;
  height: 4.6rem;
  border: 1px solid #d9d9d9;
  border-radius: 20px;
  background-color: #ffffff;
  padding: 0 1.6rem;
  font-size: 1.6rem;
}
.time-selection::-moz-placeholder {
  color: rgba(0, 0, 0, 0.25);
  font-size: 1.6rem;
}
.time-selection::placeholder {
  color: rgba(0, 0, 0, 0.25);
  font-size: 1.6rem;
}
.time-selection:hover,
.time-selection :focus,
.time-selection :active {
  border: 1px solid #d9d9d9;
  border-color: #40a9ff;
}
.time-selection:disabled {
  border: 1px solid #d9d9d9;
  background-color: #d9d9d9;
}

.order-comment {
  width: 39.2rem;
  min-height: 9rem;
  border: 1px solid #d9d9d9;
  border-radius: 20px;
  background-color: #ffffff;
  padding: 1.2rem 1.6rem;
  font-size: 1.6rem;
}
.order-comment::-moz-placeholder {
  color: rgba(0, 0, 0, 0.25);
  font-size: 1.6rem;
}
.order-comment::placeholder {
  color: rgba(0, 0, 0, 0.25);
  font-size: 1.6rem;
}
.order-comment:hover,
.order-comment :focus,
.order-comment :active {
  border: 1px solid #d9d9d9;
  border-color: #40a9ff;
}
.order-comment:disabled {
  border: 1px solid #d9d9d9;
  background-color: #d9d9d9;
}

.form-btn {
  background-color: #ffb22e;
  border-radius: 1.2rem;
  color: #242424;
  box-shadow: 0px 0.2rem 0px 0px rgba(0, 0, 0, 0.04);
  border: none;
  padding: 1.2rem 0;
  font-size: 1.6rem;
  cursor: pointer;
  font-weight: 700;
  line-height: 2.24rem;
  width: 100%;
  margin: 0.8rem 0 0.4rem;
}
.form-btn_disabled {
  cursor: default;
  background-color: #eaeaea;
  color: #9b9b9b;
  line-height: 2.24rem;
  box-shadow: 0px 0.2rem 0px 0px rgba(0, 0, 0, 0.04);
}