@import url(https://fonts.googleapis.com/css?family=Nunito:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
html {
  font-size: 62.5%;
}

.page {
  margin: 0 auto;
  max-width: 144.8rem;
}

.page-404 {
  position: relative;
  font-family: "Nunito", serif;
  margin: 0 auto;
  max-width: 144rem;
  height: calc(100vh - 13rem);
  background: url("./src/images/bg-404.png") 0 0/100% 100% no-repeat;
}
.page-404__content {
  width: 22.8rem;
  padding-top: 26vh;
  margin-left: 17vw;
}
.page-404__title {
  font-size: 12.8rem;
  font-weight: 600;
  line-height: 12.8rem;
  color: #242424;
  display: inline-block;
}
.page-404__subtitle {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.24rem;
  padding-left: 3px;
  padding-bottom: 3.2rem;
}
.page-404__link {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #242424;
  padding: 1.2rem 0;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.24rem;
  text-decoration: none;
  background-color: #fff;
  border-radius: 2rem;
  border: 0.1rem solid #d9d9d9;
}