$background-color-main: #ffffff;
$background-color-secondary: #f2f2f2;

$color-primary: #ffb22e;
$color-secondary: #e5f0ff;

$button-color-blue: #81ace5;
$button-color-grey: #eaeaea;

$text-color-main: #242424;
$text-color-secondary: #9b9b9b;
$text-color-tertiary: #163b6c;
$text-color-white: #ffffff;

$border-color: #d9d9d9;
$border-color-active: #40a9ff;

$box-shadow: rgba(5, 11, 59, 0.1);
$btn-shadow: rgba(0, 0, 0, 0.04);

$placeholder-color: rgba(0, 0, 0, 0.25);
