.filter {
	width: 4rem;
	height: 4rem;
	display: flex;
	align-items: center;
	cursor: pointer;

	&__text {
		padding: .2rem 0 0 .8rem;
		color: #163B6C;
		font-weight: 700;
	}

	&__count {
		color: #242424;
		background-color: #C0D5F2;
		margin: 0 0 0 .6rem;
		align-self: center;
		height: 2rem;
		padding: 0 .8rem;
		display: flex;
		justify-content: center;
		border-radius: 10rem;
		font-weight: 400;
		line-height: 21px;
		font-size: 1.4rem;

		&_style_background {
			background-color: #fff;
		}
	}
}