@import '../../assets/styles/colors.scss';

.card-order {
	background-color: #fff;
	border-radius: .8rem;
	margin: 1.2rem 0 0 0;
	padding: 2rem 0;

	&__complete {
		display: flex;
	}

	&__button {
		background-color: $color-primary;
		border: none;
		padding: 1.2rem 2.4rem;
		border-radius: 1.2rem;
	}

	&__close {
		margin: 1.2rem 0 2rem 2rem;
		width: 2rem;
		font-size: 25px;
		color: #242424;
		transform: rotate(45deg);
	}

	&__cancelled-comment {
		display: flex;
		flex-direction: column;		
	}

	&__comment {
		font-weight: 400;
		padding: .4rem 0 0 0;
	}
}