@import '../../assets/styles/colors.scss';
.wrapper {
  box-sizing: border-box;
}
.card-order {
  background-color: $background-color-main;
  border-radius: 0.8rem;
  margin: 1.2rem 0 0 0;
  padding: 2rem 0;
  border: 2px solid $background-color-main;
  transition: all 0.2s ease;

  &:hover {
    transition: all 0.2s ease;
    border: 2px solid $border-color-hover;
  }

  &__complete {
    display: flex;
  }

  &__button {
    background-color: $color-primary;
    border: none;
    padding: 1.2rem 2.4rem;
    border-radius: 1.2rem;
  }

  &__close {
    margin: 1.2rem 0 2rem 2rem;
    width: 2rem;
    font-size: 25px;
    color: $text-color-main;
    transform: rotate(45deg);
  }

  &__cancelled-comment {
    display: flex;
    flex-direction: column;
  }

  &__comment {
    font-weight: 400;
    padding: 0.4rem 0 0 0;
  }
}
